.vscode/settings.json
Atividades/AT04/clientes.c
Atividades/AT04/letras.exe
Atividades/AT04/clientes.exe
Atividades/AT04/palavras.exe
Atividades/AT04/struct.exe
Atividades/AT04/vetor.exe
atv-5.c
Atividades/AT04/vetor_versao_anterior.c
Atividades/AT04/clientes_validacao
Atividades/AT04/meutester
